body {
    /* background-color: rgba(128, 0, 0, 0.541); */
    background-image:url("./images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.button-form {
    /* display:inline-block; */
    float:left;
    width:50%;
    margin-left: 15px;
}

.category-input {
margin-top: 50px;
margin-left: 50px;
height: 30px;
width: 160px;

}

.add-button {
background-color:rgb(164, 151, 236);
color:black;
height: 50px;
width: 150px;
border-radius:15px;
border: 3px solid rgb(50,55,75);
margin-left: 30px;
}

.add-button:hover {
    background-color: rgb(227,225,219);
    color: black;

}


.form-label {

    font-size:40px;
    color:rgb(50,55,75);
    margin:auto;
    margin-top:40px;
    margin-bottom:30px;

}
.input-section {
    
    background-color: rgb(163,147,109);
    height: 200px;
    border:3px solid rgb(50,55,75);
    width:100%;
}

.gifs{
    height: 80%;
    width: 100%;


}

.gif-wrap {
    position:relative;
    z-index: 5;
    height: 300px;
    width: 285px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:inline-block;

}

.gif {
    z-index: 5;
    border:5px solid rgb(163,147,109);
    position:relative;
    border-radius:10px;
    height: 250px;
    width:275px;
    
}
.dynamic-buttons {
    position:relative;

    float: right;
    width: 50%;
    margin-top:-140px;


}

.gif-button {
    height: 45px;
    font-size: 18px;
    min-width:30%;
    width: 30%;
    margin: 5px;
    background-color:rgb(60,55,75);
    color:White;;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px black;
}

.gif-button:hover {
background-color: rgb(227,225,219);
color:black;
box-shadow: 5px 5px grey;

}

/* @media screen  */